body {
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------CONTAINERS */
.container-hero-header {
    height: 100vh;
    background: no-repeat center center;
    background-image: linear-gradient(to bottom, #ff8b7b, #dd9458, #b29c4b, #83a056, #549e6e, #3a9474, #208a79, #027f7b, #016f6b, #015f5c, #00504d, #00413f);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Jost', sans-serif;
}

.container-concept {
    background-color: #00413F;
}

.container-projects {
    background-color: #00413F;
}

.container-team {
    background-image: linear-gradient(to bottom, #00413f, #00504d, #015f5c, #016f6b, #027f7b, #208a79, #3a9474, #549e6e, #83a056, #b29c4b, #dd9458, #ff8b7b);
}
/* ///-------------------CONTAINERS */

/* ----------------------HERO HEADER */

.hero-header h1 {
    color: #FF8B7B;
    font-size: 66px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-header h2 {
    color: #FF8B7B;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.learn-more {
    color: #FF8B7B;
    font-size: 12px;
    position: relative;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

i {
    font-size: 55px;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
/* ///-------------------HERO HEADER */

/* ----------------------TEAM CARDS */
.card-1 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(3, 149, 144, 0.4));

}

.card-2 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(3, 149, 144, 0.4));
}

.card-3 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(3, 149, 144, 0.4));

}
/* ///-------------------TEAM CARDS */


/* ----------------------NAVBAR */
#navbar-brand-title {
    padding-left: 10px;
    color: black;
}

.navbar {
    background-color:  rgba(255, 255, 255, 0.7);
}

.nav-link {
    color: black;
}

/* ///-------------------NAVBAR */

/* ----------------------SECTION TITLES */
.section-title {
    text-align: center;
    color: #FF8B7B; 
    padding: 30px 0 25px;    
}

.section-title h2 {
    font-size: 42px;
}
/* ///-------------------SECTION TITLES */

/* ----------------------CONCEPT SECTION */
.concept-block h3{
    color: #FF8B7B;
    font-size: 24px;
    margin: 0 12px;
    padding: 9px 0 12px;
}

.concept-block p{
    color: white;
    font-size: 14px;
    margin: 0 12px;
    padding: 9px 0;

}

.concept-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 139, 123, 0.5));
    margin: 5px auto;
    border-radius: 5%;
}
/* ///-------------------CONCEPT SECTION */

img {
    height: auto;
    width: 95%;
    display: block;
    margin: auto;
    border: 3px solid #00413F;
    border-radius: 5%;
}
